<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <ol>
    <h1>Overview</h1>
    <h2>About Department of Mechanical Engineering</h2>
    <p>The department of Mechanical Engineering (NBA Accredited) made its beginning with the establishment of the college in 1960. It offers a 4 years (8 semesters) B.E. course in Mechanical Engineering (Autonomous) with an intake of 120 students.

The mission of the programme is to offer quality education, so that students pursue professional career or higher education for further enhancement of their knowledge.

The department has well experienced and dedicated faculty members with many active researchers who are involved in R & D projects.  There are totally 34 faculty with an average teaching experience of 17 years, out of which 20 with Ph.D. and remaining with M.Tech./MSc (Engg.) qualification.

All the laboratories in the department are well equipped. Department has state of the art equipment like CNC machines, Coordinate Measuring Machine (CMM), 3D Printer, 6-axis articulated Robot, Computerised UTM, Surface Profilometer etc. to cater the need of both researchers & students.

The department organizes many training/faculty development programmes for the faculty/technical staff and students periodically. Invited lectures from renowned personalities are regularly arranged for the benefit of the students and staff members of the department. The department encourages the faculty and students to attend conferences, workshops and other training programmes to enhance their technical skills.

The alumni of the department are well placed in many of the reputed industries/organisation throughout the world. Apart from this, graduated students are getting admitted for post-graduation to many reputed universities across the world.

Mechanical Engineering Department is recognised as research centre for carrying out research leading to Ph.D/M.Sc (Engg) by research degree by VTU, Belagavi. The department has received research grants from funding organisations like DST, AICTE, VGST, VTU, UGC, TEQIP, etc. Many of the faculty members have presented their research papers in International conferences held abroad and published research articles in peer reviewed journals.</p>

<h1>Syllabus</h1>
<table border="1">
    <tr>
        <th><h2>Course</h2></th>
        <th><h2>Download</h2></th>
    </tr>
    <tr>
        <td><h3>2nd Year Syllabus</h3></td>
        <td><a href="https://www.mcehassan.ac.in/assets/departments/ME/syllabus/ME_II_year.pdf">Download</a></td>
    </tr>
    <tr>
        <td><h3>3rd Year Syllabus</h3></td>
        <td><a href="https://www.mcehassan.ac.in/assets/departments/ME/syllabus/ME_III_Year.pdf">Download</a></td>
    </tr>
    <tr>
        <td><h3>4th Year Syllabus</h3></td>
        <td><a href="https://www.mcehassan.ac.in/assets/departments/ME/syllabus/ME_IV_Year.pdf">Download</a></td>
    </tr>
</table>

</body>
</html>