<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <ol>
    <h1>Overview</h1>
    <h2>About Department of Computer Science and Engineering</h2>
    <p>The department of Computer Science & Engineering was established in the year 1983. It offers four years B.E. course with an intake of 240 students. VTU has recognized the department as a research center for carrying out research work leading to M.Sc. (Engg) by Research and Ph.D. degree. Department is accredited five times by NBA. The department has highly qualified faculty. Well Equipped labs serve the purpose of the curriculum prescribed and also facilitate to carry out innovative projects to challenge the fast-changing needs of the society. Right from its inception, the department has been moving forward in achieving academic excellence with a strong commitment and dedicated approach 
The department has a good rapport with the IT industry. CSE is collaborated with many industries through MOU’s. Seminars and workshops are organized regularly to help the faculty and students to update their knowledge about the latest developments. The top-notch Alumni of CSE are functioning across the globe in authoritative position. Department has a good placement record and is striving hard towards the all-round development of student community.</p>

<h1>Syllabus</h1>
<table border="1">
    <tr>
        <th><h2>Course</h2></th>
        <th><h2>Download</h2></th>
    </tr>
    <tr>
        <td><h3>2nd Year Syllabus</h3></td>
        <td><a href="https://www.mcehassan.ac.in/assets/departments/CS/syllabus/2nd_Year_Scheme_and_Syllabus-2024-25.pdf">Download</a></td>
    </tr>
    <tr>
        <td><h3>3rd Year Syllabus</h3></td>
        <td><a href="https://www.mcehassan.ac.in/assets/departments/CS/syllabus/3rd_Year_Scheme_and_Syllabus-2024-25.pdf">Download</a></td>
    </tr>
    <tr>
        <td><h3>4th Year Syllabus</h3></td>
        <td><a href="https://www.mcehassan.ac.in/assets/departments/CS/syllabus/4th_Year_Scheme_and_Syllabus-2024-25.pdf">Download</a></td>
    </tr>
</table>

</body>
</html>