<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <ol>
    <h1>Overview</h1>
    <h2>About Civil Engineering</h2>
    <p>The Civil Engineering Department (CED) is one of the reputed departments in MCE Hassan established in the year 1960. It is recognized as a Research Centre under the Visvesvaraya Technological University (VTU), Belagavi. It is also recognized as a Minor Quality Improvement Program (QIP) Centre. CED currently offers a UG Program - B.E. in Civil Engineering with an intake of 120 students and a PG Program - M.Tech. in Computer Aided Design of Structures (CADS) with an intake of 18 students. The teaching faculty memebers have an average teaching experience of 10 years, including 7 Ph.D.s, 7 ongoing Ph.D.s, and 14 Post Graduates. 

The Department is Internet and Wi-Fi enabled to provide 24x7 internet connectivity. Further, the department has an in-house department Library exclusively for the UG and PG Students of Civil Engineering. The department regularly organizes Dr. C. Gifferd Satyadas Memorial Lecture (Dr. CGSML) Series and also frequent Alumni - Student Interactions.

The American Society of Civil Engineers (ASCE) Student Chapter organizes workshops, professional events, sports events, along with social campaigns, and lectures by great personalities to enhance the all-round development of students throughout the year. ASCE Student Chapter of MCE Hassan actively encourages the future engineers to celebrate all the moments of their stay at MCE academically and culturally and also providing opportunities to hone their extra-curricular skills. The department publishes annual newsletter and magazines to which students and faculty contribute technical and non-technical articles. 

SustaiNest is a student club formed by the Department of Civil Engineering at Malnad College of Engineering, on 01.12.2023 aimed at promoting sustainability awareness, innovation, and skills among students. With the growing relevance of sustainability in fields like urban planning, environmental consultancy, and corporate strategy, the club serves as a platform for practical exposure and collaborative learning. Key Objectives: Enhance environmental and sustainability literacy, Organize at least 6 diverse academic and outreach activities per year, Foster leadership, teamwork, and professional development.</p>

<h1>Syllabus</h1>
<table border="1">
    <tr>
        <th><h2>Course</h2></th>
        <th><h2>Download</h2></th>
    </tr>
    <tr>
        <td><h3>2nd Year Syllabus</h3></td>
        <td><a href="https://www.mcehassan.ac.in/assets/departments/CV/syllabus/2023-24_III_IV_Sem_Scheme_Syllabus.pdf">Download</a></td>
    </tr>
    <tr>
        <td><h3>3rd Year Syllabus</h3></td>
        <td><a href="https://www.mcehassan.ac.in/assets/departments/CV/syllabus/2022-23_V_VI_Sem_Scheme_Syllabus.pdf">Download</a></td>
    </tr>
    <tr>
        <td><h3>4th Year Syllabus</h3></td>
        <td><a href="https://www.mcehassan.ac.in/assets/departments/CV/syllabus/2021-2022_VII_VIII_Sem_Scheme_Syllabus.pdf">Download</a></td>
    </tr>
</table>

</body>
</html>