<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="color: maroon;">Contact Details</h1> 
    <h3>Admission through CET (Govt. Quota)</h3>
    <p>The admission is through Common Entrance Test (CET) conducted by the Department for Technical Education in Karnataka. Online application and seat allotment will be processed by the KEA cell. Students who got selected for our college can come directly to the college Admission block with an Admission order.</p>
    <h3>Admission through Management (Non-Govt. Quota)</h3>
    <ul>
        <li>Management seats will be allotted on a first come first serve basis.</li>
    </ul>
    <ul>
        <li>Applications for management seats are received at MTES ® Office Hassan and seats are allotted.</li>
    </ul>
    <p><strong>Contact Us:</strong>
    <br>
    <strong>Email: office@mcehassan.ac.in</strong></p>
</body>
</html>