<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <h1 style="color: blue;">Messages</h1>
    <ol>
        <li><a href="https://www.mcehassan.ac.in/home/Chairman-Message">Chairman message</a></li>
        <li><a href="https://www.mcehassan.ac.in/home/Vicechairman-Message">Vicechairman-Message</a></li>
        <li><a href="https://www.mcehassan.ac.in/home/Secretary-Message">Secretary-Message</a></li>
        <li><a href="https://www.mcehassan.ac.in/home/Treasurer-Message">Treasurer-Message</a></li>
        <li><a href="https://www.mcehassan.ac.in/home/Director-Message">Director-Message</a></li>
        <li><a href="https://www.mcehassan.ac.in/home/Principal-Message">Principal-Message</a></li>
    </ol>
</body>
</html>