<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
  <div class="jumbotron">
    <img src="/static/images/download.jpg" alt="Lights" style="width:50%"> </img>
  </div>
</div>
<h1 style="color: maroon;">Placement Policy Documents</h1> 
<table border="1">
<tr>
    <th>S.No</th>
    <th>Document Details</th>
    <th>Action</th>
</tr>
<tr>
    <td>1</td>
    <td>MCE-Placement policy</td>
    <td><a href="https://www.mcehassan.ac.in/assets/departments/PLACEMENT/placement/e032ea534c63c5b0a0b0a95360ca6fb2.pdf">Download</a></td>
</tr>
</table>
</body>
</html>

