<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1 style="color: maroon;">Placement Records</h1>  
   <table>
    <tr>
    <td>1. </td>
    <td>Placements Record For The Year 2023-24</td>
    <td><a href="https://www.mcehassan.ac.in/assets/departments/PLACEMENT/documents/c60796c16bc586adb7c195c3222659f2.pdf">Click here</a></td>
    </tr>
    <tr>
    <td>2. </td>
    <td>Placements Record For The Year 2022-23</td>
    <td><a href="https://www.mcehassan.ac.in/assets/departments/PLACEMENT/documents/ac7c0f7991c7eec0fd457b1bc9e3aa56.pdf">Click here</a></td>
    </tr>
    <tr>
    <td>3. </td>
    <td>Placements Record For The Year 2021-22</td>
    <td><a href="https://www.mcehassan.ac.in/assets/departments/PLACEMENT/documents/0cb5fc071a6c66267bbaab9069c0b0b8.pdf">Click here</a></td>
    </tr>
    <tr>
    <td>4. </td>
    <td>Placements Record For The Year 2020-21</td>
    <td><a href="https://www.mcehassan.ac.in/assets/departments/PLACEMENT/documents/c60796c16bc586adb7c195c3222659f2.pdf">Click here</a></td>
    </tr>
    <tr>
    <td>5. </td>
    <td>Placements Record For The Year 2019-20</td>
    <td><a href="https://www.mcehassan.ac.in/assets/departments/PLACEMENT/documents/6a15b98b592a986e10620a0a15bffb11.pdf">Click here</a></td>
    </tr>
</table>
</body>
</html>