<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <h1 style="color: maroon;">Our Recriters</h1> 
    <p>This year a total of 334 students got offer,over 50 recruiters visited the campus hiring 300 plus candidates. Mercedes Benz, IBM, Robert Bosch, Toyota kirloskar, Toshiba, Toshiba Mitsubishi and more reputed companies recruited. Overall since the past few years, more than 150 companies have visited the college with a highest package of INR 21 LPA in 2023. This was offered by Samsung R&D.Also, the median CTC has seen a significant increase over the years, it's worth mentioning that many of the offered candidates are onboarded to R&D division.</p>
    <p><strong>MCE 24 Logo Of Esteemed Recuiters</strong></p><br>
    <div class="container">
  <div class="row">
    <div class="col-sm-3">
      <img src="/static/images/accenture.png" class="img-fluid">
    </div>
    <div class="col-sm-3">
      <img src="/static/images/ACTALENT.png" class="img-fluid">
    </div>
    <div class="col-sm-3">
      <img src="/static/images/amazon.png" class="img-fluid">
    </div>
    <div class="col-sm-3">
      <img src="/static/images/BEL.png" class="img-fluid">
    </div>
    <div class="col-sm-3">
      <img src="/static/images/Benz.png" class="img-fluid">
    </div>
    <div class="col-sm-3">
      <img src="/static/images/brillio.jpg" class="img-fluid">
    </div>
    <div class="col-sm-3">
      <img src="/static/images/capgemini.png" class="img-fluid">
    </div>
    <div class="col-sm-3">
      <img src="/static/images/elxsi.png" class="img-fluid">
    </div>
    <div class="col-sm-3">
      <img src="/static/images/hexaware.png" class="img-fluid">
    </div>
    <div class="col-sm-3">
      <img src="/static/images/hp.png" class="img-fluid">
    </div>
    <div class="col-sm-3">
      <img src="/static/images/IBM.png" class="img-fluid">
    </div>
    <div class="col-sm-3">
      <img src="/static/images/Infosys.jpg" class="img-fluid">
    </div>
    <div class="col-sm-3">
      <img src="/static/images/persistant.png" class="img-fluid">
    </div>
    <div class="col-sm-3">
      <img src="/static/images/quinnox.png" class="img-fluid">
    </div>
    <div class="col-sm-3">
      <img src="/static/images/siemens.png" class="img-fluid">
    </div>
    <div class="col-sm-3">
      <img src="/static/images/sonataa.png" class="img-fluid">
    </div>
    <div class="col-sm-3">
      <img src="/static/images/TCS.jpg" class="img-fluid">
    </div>
    <div class="col-sm-3">
      <img src="/static/images/wipro.png" class="img-fluid">
    </div>
  </div>
</div>
</body>
</html>