<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="color: maroon;">Research Programs</h1> 
    <p>Research programs leading to Ph.D/M.Sc (Engg.) are available in the following departments.</p>
    <ul>
        <li>Civil Engineering</li>
    </ul>
        <ul>
        <li>Mechanical Engineering</li>
    </ul>
    <ul>
        <li>Electronics & Communication Engineering</li>
    </ul>
    <ul>
        <li>Computer Science & Engineering.</li>
    </ul>
    <h3 style="color: maroon;">Elegibility:</h3> 
    <ul>
        <li>
            Working professionals, Faculty and others with a postgraduate qualification in the related discipline and in exceptional cases, Professionals with B.E. are eligible to apply for a Ph.D.
        </li>
    </ul>
    <ul>
        <li>The required qualification for M.Sc. (Engg) by research, is any 4-year engineering degree in the related discipline.</li>
    </ul>
</body>
</html>