<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <body>
    <h1 style="color: maroon;">Scholarship Details</h1> 
    <p>Deserving students can avail of several scholarships awarded by the Government of Karnataka. Here is a list of the scholarships and the corresponding applications that can be obtained from the Admission and Scholarship section during the month of every year.</p>
    <ul>
        <li>Post Metric Scholarship to SC/ST</li>
    </ul>
    <ul>
        <li>Fee-reimbursements to SC/ST</li>
    </ul>
        <ul>
        <li>Fee- a concession to Category-l, IIA,IIIA,IIIB and GM</li>
    </ul>
        <ul>
        <li>Extra boarding and lodging allowance to Category-I, IIA,IIIA,IIIB and GM</li>
    </ul>
        <ul>
        <li>Defense Scholarship</li>
    </ul>
        <ul>
        <li>Minority Scholarship</li>
    </ul>
        <ul>
        <li>AICTE Pragati scholarship scheme for Girls students.</li>
    </ul>
        <ul>
        <li>Karntataka Labor welfare Board Scholarship.</li>
    </ul>
        <ul>
        <li>MHRD Scholarship (The Ministry of Human Resources Department)</li>
    </ul>
        <ul>
        <li>Prathibha Puraskara Scholarship (Department of Technical Education)</li>
    </ul>
        <ul>
        <li>Kittur Rani Channamma Prathibha puraskara Scholarship</li>
    </ul>
        <ul>
        <li>Disability Scholarship or Physically Disabled Scholarship</li>
    </ul>
        <ul>
        <li>Arunachal Pradesh Scholarship (for  students living in the area)</li>
    </ul>
        <ul>
        <li>Indian Oil Scholarship (for Uttar Pradesh students only)</li>
    </ul>
        <ul>
        <li>Jindal Scholarship (by Sitaram Chandal Trust)</li>
    </ul>    
    <ul>
        <li>Municipality Scholarship (for children of employees only)</li>
    </ul>
        <ul>
        <li>KSRTC Scholarship(for Employee Children Only)</li>
    </ul>

        <ul>
        <li>Teacher Scholarship(for Employee Children Only)</li>
    </ul>
        <ul>
        <li>Sri. Dharmasthala scholarship ( for employees children only)</li>
    </ul>
        <ul>
        <li>LIC Scholarship</li>
    </ul>
        <ul>
        <li>BSNL Scholarship</li>
    </ul>



</body>
</html>