<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <h1 style="color: blue;">Vision and Mission</h1>
    <h2>Vision</h2>
    <p>To be an institute of excellence in engineering education and research, producing socially responsible professionals.</p>
    <h2>Mission</h2>
    <ol>
        <li>Create conducive environment for learning and research.</li>
        <li>Establish industry and academia collaborations</li>
        <li>Ensure professional and ethical values in all institutional endeavours.</li>
    </ol>

</body>
</html>